{% extends 'master.html' %}
    {% block content %}
    <!-- START age calculator content -->
    <main class="container">
        <div class="row">
            <h1 class="display-1 text-center">Booking</h1>
              <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/muhammadasad251/30min'});return false;">Book an Appointment</a>
<!-- Calendly link widget end -->
        </div>
    </main>
    <!-- END age calculator content -->
    {% endblock %}