{% extends 'master.html' %}
    {% block content %}
    <!-- START age calculator content -->
    <main class="container">
        <div class="row">
            <h1 class="display-1 text-center">Booking</h1>
            <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/muhammadasad251/30min" style="min-width:320px;height:630px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->
        </div>
    </main>
    <!-- END age calculator content -->
    {% endblock %}