{% extends 'master.html' %}
    {% block content %}
    <!-- START age calculator content -->
    <main class="container">
        <div class="row">
            <h1 class="display-1 text-center">Age Calculator</h1>

            <!-- START input form -->
            <form method="post" class="mt-4">
                {% csrf_token %}
                <label for="birth_date">Select your date of Birth...</label>
                <input placeholder="Select date" required type="date" name="date"
                    id="birth_date" class="form-control">
                <i class="fas fa-calendar input-prefix" tabindex=0></i>

                <div class="text-center">
                    <input id="calculate" type="submit"
                        class="btn btn-success mt-3" name="submit"
                        value="Calculate your age">
                </div>
            </form>
            <!-- END input form -->

            <!-- START result container -->
            <div id="age_container" class="p-4 text-dark">
                <p id="exact_age" class="display-6 text-center">{{age}}</p>
            </div>
            <!-- END result container -->
        </div>
    </main>
    <!-- END age calculator content -->
    {% endblock %}